.ant-form-item {
    margin-bottom: 0px !important;
  }
  
  .ant-form-item-label {
    padding: 0px !important;
  }
  
  .ant-table button {
    height: auto !important; /* Set height to auto to disable the fixed height */
    border-radius: 10px !important;
  }